/* Estate.css */

.estate-list-container {
  margin-top: 20px;
}

.estate-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgba(166, 208, 226, 0.5);
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  overflow: hidden;
  min-width: 600px;
  z-index: 1; /* Container'ın z-index değeri */
}

.estate-container:hover {
  background-color: rgba(105, 100, 183, 0.8);
}

.img-fluid {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

.estate-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Modal'ın z-index değeri */
}

.modal-content {
  background-color: #a6d0e2;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%; /* Genişliği artırıldı */
  min-width: 800px; /* Minimum genişlik eklendi */
  overflow: hidden;
  text-align: center;
  z-index: 1001; /* Modal içeriğinin z-index değeri (modal'dan bir üstte olmalı) */
}
.estate-modal h1,
.estate-modal p {
  margin-bottom: 10px;
}

.estate-info {
  text-align: left;
  margin-left: 15px;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Yeni form özelliklerine ait stiller */
form {
  margin-top: 20px;
}

.form-label {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.form-control {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn-primary {
  background-color: #3b5998;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #2d4373;
}
label {
  font-size: 20px;
}
