/* Estate.css */

.estate-list-container {
  margin-top: 20px;
}

.estate-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgba(166, 208, 226, 0.5);
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  overflow: hidden; /* Yatay taşmaları önlemek için */
  min-width: 600px; /* Minimum genişlik değeri */
}

.estate-container:hover {
  background-color: rgba(105, 100, 183, 0.8);
}

.img-fluid {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

.estate-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #a6d0e2;
  padding: 20px;
  border-radius: 8px;
  max-width: 70%;
  overflow: hidden;
  text-align: center;
}

.estate-modal h1,
.estate-modal p {
  margin-bottom: 10px;
}

.estate-info {
  text-align: left;
  margin-left: 15px;
}

/* Eklenen kısım */
h1 {
  font-size: 2rem;
}
p {
  font-size: 1.2rem; /* Sabit font boyutu */
  white-space: nowrap; /* Metni bir satırda tutar */
  overflow: hidden; /* Taşan kısmı gizler */
  text-overflow: ellipsis; /* Taşan kısmın yerine üç nokta ekler */
}
