.sign-In {
  margin: 12.5% auto;
}
.btn-signIn {
  background-color: #3b5998;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.btn-signIn:hover {
  background-color: #3b5998;
}
.btn-signIn div {
  display: flex;
  justify-content: center;
}
.txt-btn {
  margin-top: 5px;
}
.sign-In {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.sign-In .Selams {
  align-items: center;
  width: 50%;
}
.img-logo {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-bottom: 5px;
}
